<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="net.helloworld.model.Student" />
        <mapping class="net.helloworld.model.Address" />
        <mapping class="net.helloworld.model.User" />
        <mapping class="net.helloworld.model.Authority" />
        <mapping class="net.helloworld.model.Education" />
        <mapping class="net.helloworld.model.Sponsor" />
        <mapping class="net.helloworld.model.Sponsorship" />
    </session-factory>

</hibernate-configuration>