# ignore all .class files
*.class

# ignore the target directory
target/

# ignore iml
*.iml
*.idea

# ignore log4j property file
src/main/resources/log4j.properties

#ignore mac-osx files
*.DS_Store
