<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="net.lsf.model.Student" />
        <mapping class="net.lsf.model.Address" />
        <mapping class="net.lsf.model.User" />
        <mapping class="net.lsf.model.Authority" />
        <mapping class="net.lsf.model.Education" />
        <mapping class="net.lsf.model.Sponsor" />
        <mapping class="net.lsf.model.Sponsorship" />
        <mapping class="net.lsf.model.Bank" />
        <mapping class="net.lsf.model.Fees" />
        <mapping class="net.lsf.model.SponsorshipFees" />
        <mapping class="net.lsf.model.Comments" />
        <mapping class="net.lsf.model.StudentSponsorFees"/>
    </session-factory>

</hibernate-configuration>