.something {
    color: #DC5C05;
}

.lsf-jumbo {
    color: darkorange;
}

div.navbar-collapse.collapse {
    margin-left: 100px;
    /*background-color: #000000; */
}

.navbar-inverse .navbar-brand {
    color: #DC5C05;
}

.navbar-inverse .navbar-nav>li>a {
    color: #dea033;
    /*background-color: black; */
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a {
    color: #6EC5B8;
    /*background-color: #000000;*/
}

.mytest {
    text-align: center;
}

div.ui-datepicker{
    font-size:12px;
}

.main-content {
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 5%;
    background-color: #f3f3f3;
    border-radius: 10px 10px 10px 10px;
}

.nav-tabs > li > a {
    background-color: #00ced1;
    color: black;
}

.nav-side > li > a {
    text-decoration: none;
    background-color: #C7BAA7;
    color: #000000;
    margin-left: 10px;
    margin-right: 20px;
}

.nav-side > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #ffac00;
    color: #000000;
}

.student-insert {
    display: none;
    padding: inherit;
    padding-top: 40px;
}

li.myactive a {
    background-color: #ffac00;
    color: black;
}

.error {
    color: red;
}

.message {
    font-style: italic;
}

.green {
    color: green;
}

.warning {
    color: orangered;
}

input.search-query {
    font-style: italic;
    width: 300px;
}

.myinfo.left {
    float: left;
    margin-left: 180px;
    font-style: italic;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.myinfo.right {
    float: right;
    font-style: italic;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info {
    color: darkslateblue;
}

.test {
    clear: both;
    display: block;
}

.mytable {
    width: 70%;
}

/* example of how to override all style */
.control-label.col-md-4.top-label {
    padding-top: 0px;
    vertical-align: top;
}